

.shape-1 {
  position: absolute;
  width: 460px;
  height: 460px;
  transform: rotate(51deg);
  border-radius: 70px;
  background: #6a1ac7;
  box-shadow: 0 2px 78px 19px #6717c1;
  left: -417px;
  top: 235px;
}

.shape-2 {
  position: absolute;
  width: 820px;
  height: 820px;
  transform: rotate(51deg);
  border-radius: 70px;
  background: #6d19ce;
  left: -141px;
  top: -449px;
}

.shape-3 {
  position: absolute;
  width: 1195px;
  height: 595px;
  transform: rotate(51deg);
  border-radius: 120px;
  opacity: 0.4;
  background: #6515ae;
  box-shadow: 0 2px 78px 19px #6717c1;
  left: 0;
  top: 489px;
}

.shape-4 {
  position: absolute;
  width: 460px;
  height: 460px;
  transform: rotate(51deg);
  border-radius: 70px;
  background: #6a1ac7;
  box-shadow: 0 2px 60px 19px #6b1bbd;
  left: -323px;
  top: 46px;
}

.shape-5 {
  position: absolute;
  width: 460px;
  height: 460px;
  transform: rotate(51deg);
  border-radius: 70px;
  background: #6319b8;
  left: -27px;
  top: -458px;
}




.auth-container {
  width: 100%;
  max-width: 344px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.google-button {
  width: 100%;
  height: 48px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.google-button:hover {
  background-color: #f8f9fa;
}

.google-text {
  color: #154dc6;
  font-size: 16px;
  font-weight: 600;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}

.create-account-button {
  width: 100%;
  height: 48px;
  background-color: #fff;
  border-radius: 8px;
  color: #154dc6;
  font-size: 16px;
  font-weight: 600;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.create-account-button:hover {
  background-color: #f8f9fa;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-top: 1.5rem;
}

.signup-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}

.signup-link {
  all: unset; /* resets default button styles */
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family:
    "SF Pro Text",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
  align-self: center;
}