.users-online-counter {
  position: fixed;
  top: 10px;
  left: 18px;
  z-index: 999999; /* higher than shapes */
  color: black;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: bold;
}

.users-online-counter .online-count {
  color: #0dd40d; 
  font-weight: 900;
}