.register-container {
  width: 100%;
  min-height: 100vh;
  background-color: #6515c6;
  position: relative;
  overflow: hidden;
}

.register-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}



.register-title {
  font-size: 20px;
  color: #191919;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 6px;
}

.register-subtitle {
  color: #777e8e;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}

.register-form-group {
  margin-bottom: 16px;
}

.register-label {
  color: #154dc6;
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 3px;
}

.register-input-wrapper {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  padding: 0 11px;
  display: flex;
  align-items: center;
}

.register-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #b2b2b2;
  border: none;
  outline: none;
  background: transparent;
}

.register-input::placeholder {
  color: #b2b2b2;
}

.register-button {
  width: 100%;
  height: 48px;
  background-color: #154dc6;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-button:hover {
  background-color: #1242b0;
}

.register-signin-text {
  text-align: center;
  color: #154dc6;
  font-size: 15px;
  line-height: 21px;
  margin-top: 16px;
}

.register-signin-link {
  all: unset; /* resets default button styles */
  color: #154dc6;
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  cursor: pointer;
  text-align: right;
  white-space: nowrap;
}

.register-signin-link:hover {
  text-decoration: underline;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
}
.register-success-message {
  display: flex;
  flex-direction: column;   /* stack children vertically */
  align-items: center;      /* center horizontally */
  justify-content: center;  /* center vertically */
  font-size: 20px;
  font-weight: 700;
  height: 100%;             /* or desired height */
  text-align: center;       /* center text inside <p> */
  margin-top: 0px; /* adjust as needed */
  margin-bottom: 1rem;
}